# Validation of in_lien_fd

In [1]:
import sqlalchemy
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
run_date=datetime(2021,9,10)

In [3]:
# Read fd_master
engine=sqlalchemy.create_engine("mysql+pymysql://sony:Extenso@123@10.13.189.55/dax_raw")
df_fd_master=pd.read_sql('fc_fd_master',con=engine,parse_dates=["acc_open_date","maturity_date"])
df_fd_master

,id,customer_code,account_number,branch,product,product_category,acc_open_date,maturity_date,fd_amount,is_active,is_in_lien,loan_against_fd_amount,loan_account_number,fd_nominee_acc,created_by,created_on,modified_by,modified_on
0,1,a2d8e25b702520c1307ec520722f9c6eee2d0b42,98af0c2b3a3c1126f9a758694b82150324ce6150,001,TDA,TD011,2018-03-04,2023-05-25,150000000.0,1,0,None,None,b5c6f6db820b75826cf6f9c51599cc4c6077a713,SSHRESTHA,2021-07-01 10:34:00,None,NaT
1,2,b57b66e644af2df8a122f49294d3c3c2f162acc2,f5c179cde7275d65707e59f7ff34a0d5466a9e14,001,TDA,TD011,2017-12-31,2023-03-23,100000000.0,1,0,None,None,223164b1b8ee9b6b7560286436de121cbdd18a03,SSHRESTHA,2021-07-01 10:34:00,None,NaT
2,3,eaf2bfc1339a458c6241a616e9b361938a239830,89a1d68318e878035eefcfc78348021f3c30daca,001,TDA,TD022,2006-07-06,2007-07-06,13950.0,0,0,None,None,b14fe9c6f9718bb0c2c0ef77d7c140c822f4e0aa,SSHRESTHA,2021-07-01 10:34:00,None,NaT
3,4,b1c724b065dc6e0d0b2e4296f96dbb36e210f52f,78cb03d5d0721551f81dee7525717dc5ec015d5d,001,TDA,TD022,2015-07-30,2016-07-30,13950.0,0,0,None,None,eee4ecffca8b243c7a943ac92870a3591600f5d4,SSHRESTHA,2021-07-01 10:34:00,None,NaT
4,5,6c4f2e36ac4b8c9b49173fd4da4292d6e845cb6e,988222fe658ed35c419846f02c7328cb619076b4,001,TDA,TD022,2006-08-01,2007-08-01,30000.0,0,0,None,None,1e36f08e77cb70fce98b5eaefbc159148f657c95,SSHRESTHA,2021-07-01 10:34:00,None,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25593,25594,c6bd7439bd51523dc8c3123d896a7697d6bd1717,e9495b8caf50761c5456805f8c22aecb3b510962,194,TDA,TD001,2021-02-04,2022-02-04,1300000.0,1,0,None,None,a669392ecfe6cbb8c87e9dea48d79db0829d4a87,SSHRESTHA,2021-07-01 10:41:14,None,NaT
25594,25595,897f55c21409fdb035f073bb86f0820c7df672df,f62b690753362cc05fc72779f3728530053722f4,194,TDA,TD001,2021-02-15,2022-02-15,200000.0,1,0,None,None,bb74d90c844399f231406442460e49ac98c95160,SSHRESTHA,2021-07-01 10:41:14,None,NaT
25595,25596,126aa7e28d00dfe51ae9e75492442bd303c5a2fa,a986dffa9cefd7d8e0e941f9968c187525c2bf7e,194,TDA,TD001,2021-03-22,2021-06-22,800000.0,1,0,None,None,906051438402dec46190cf33d8b7c3b805cbd20b,SSHRESTHA,2021-07-01 10:41:14,None,NaT
25596,25597,83c870be090e0d44d668849a474cd0ecbe2485dc,8241ff99707a60ce42420728ddf2fac129f88151,195,TDA,TD001,2021-04-06,2021-08-06,3000000.0,1,0,None,None,fb604ac535734eef2364dd7691fe5c4a2154e257,SSHRESTHA,2021-07-01 10:41:14,None,NaT
25597,25598,ba609799c645294c2ec86b0d9aeeaf7d83af13e7,2d781aa5ca3061eb9d068973da7abdd1e92bd2bb,195,TDA,TD001,2021-04-04,2021-08-04,1600000.0,1,0,None,None,3e20f80c21d46251eed63a4d51e82a549d981aac,SSHRESTHA,2021-07-01 10:41:14,None,NaT

In [4]:
# Read fc_pre_facts
engine=sqlalchemy.create_engine("mysql+pymysql://sony:Extenso@123@10.13.189.55/dax_facts")
df_pre_facts=pd.read_sql('fc_pre_facts',con=engine)
df_pre_facts=df_pre_facts[["account_number","customer_code","in_lien_fd"]]
df_pre_facts

,account_number,customer_code,in_lien_fd
0,0000bb835aa73658f51e6ab82cf398b019ac1e42,6f5ee2f91511a60aa179289ff9a7df209ccc533d,0
1,00009d049f8fae9a942ca0063f4257182af54c89,81c6b520b113ee336d40222b6ec6b83e33b7006d,0
2,00045b681e613bb66ce53c2517976a256fec9292,b2218e8c04bac9c2e7d01c5babe268f654f7744f,0
3,000de06ac50d49c6ae28e75dee400b529bccca3c,03716516d55cb7f3e2f0deffaa0c8c5c9e91b355,0
4,00018eaa26ee0c3836b3c1d080627a3a2b3e45f5,67dda436c42cb70ddf46699136b352e0b93147f1,0
...,...,...,...
39667,ff809397ea26f4a9ed9a927126e80c3926d82e4a,28fff1e62259df884b9349d707927c2dfbe4206f,0
39668,ff9ba916775f7ba0d83750bdc188a2d3e6bf7929,129e189cec9ce716ccca911aebfa73dfc4df3d2c,0
39669,ff9c3e85f59dffe893186a2456854fca87f23762,39d6bd64e4560bb2c15b29c71fff94afa1aa7bb3,0
39670,ffd0c1c89bc2c1ff96ba79c44ae470a86b7a151a,0d3b82dcc37b22db1825394c75197205b77a04ee,0
39671,ffd6a2947f902201a584aa83d1c5eac0be75fe66,1141ff728aa620c25968dbf97b5d0dd25b38727f,0

In [5]:
df_fd_master_in_lien=df_fd_master[(df_fd_master["is_active"]==1) & (df_fd_master["maturity_date"]>run_date)]
df_fd_master_in_lien=df_fd_master_in_lien[["customer_code","is_in_lien"]]

# Change datatype of a field
df_fd_master_in_lien["is_in_lien"]=df_fd_master_in_lien["is_in_lien"].astype(int)
# print(df_fd_master_in_lien.dtypes)


df_fd_master_in_lien=df_fd_master_in_lien.groupby(["customer_code"]).agg(
    in_lien_fd=("is_in_lien","sum")
)
df_fd_master_in_lien.reset_index(inplace=True)

df_fd_master_in_lien=df_fd_master_in_lien[df_fd_master_in_lien["in_lien_fd"]!=0]
df_fd_master_in_lien

                                 customer_code  in_lien_fd
11    005df2e0162faecc7808fb5addd38309d29090b3           1
48    016ca3a8a2fdd00009960afe6695536607abf92e           1
80    026de68cbf393259b97ff5e422550df597485d66           2
112   033539010fedb477cbc8deb33d0647ada3a60bbf           1
177   04ba70e3087979638103117a6123f12e0127e552           1
...                                        ...         ...
9361  f6394f92801a392d363a36b49c3869381eda21b3           1
9372  f69e5f60602da559c3a4cf9218e1bab54c18ac68           1
9404  f7a740d449093e6cc7b5bc6757bc7abb477db27e           1
9560  fb78737746e69d099ec187a59ec995f0530f9a19           1
9640  fd4c3f206789a8220d4198a24e79b6eec5a5fcae           1

[183 rows x 2 columns]

In [6]:
df_qa_vs_dev=pd.merge(df_fd_master_in_lien,df_pre_facts,how="inner",on="customer_code",suffixes=('_qa','_dev'))
df_qa_vs_dev["status"]=np.select(
    [
        df_qa_vs_dev["in_lien_fd_qa"]==df_qa_vs_dev["in_lien_fd_dev"]
    ],
    [
        "pass"
    ],
    default="fail"
)
df_qa_vs_dev

,customer_code,in_lien_fd_qa,account_number,in_lien_fd_dev,status
0,005df2e0162faecc7808fb5addd38309d29090b3,1,d7c6288cb01364047ab451374805f7fc9db53b73,1,pass
1,016ca3a8a2fdd00009960afe6695536607abf92e,1,f98f9c847171c35519449548a10e2aba9e487771,1,pass
2,033539010fedb477cbc8deb33d0647ada3a60bbf,1,cbfe7574afc9856d4504d07478befdbcbff78911,1,pass
3,08135c5022da2e4751d88b931e22446216862af3,1,6764928455b5ed8f5b477a6ada496b38bb13aad7,1,pass
4,0cb28d16d15a947f6002cd13087cfb148d34b1b5,1,330939dca58ccdde6ef0ff29fec7b8a758a9c5b6,1,pass
...,...,...,...,...,...
132,f43487d4f209e9400ab9ccf93a5942e8b3d7aa8a,1,729455f8757447b1a858d56175082f120882879f,1,pass
133,f6159d75f617067ca365d0e83df543999b42a391,1,bbafc92d7620c69bcccc4fcd547bf6f563358d72,1,pass
134,f6394f92801a392d363a36b49c3869381eda21b3,1,e282acf3e7d2094516154d702b9a8ed38723d435,1,pass
135,fb78737746e69d099ec187a59ec995f0530f9a19,1,f7c2200b37a99b2b74d40f8f3f8cb7948087aef3,1,pass
136,fd4c3f206789a8220d4198a24e79b6eec5a5fcae,1,602cfab5d2e21b07d56764374f0baf7da05d5118,1,pass

In [7]:
df_qa_vs_dev["status"].value_counts()

pass    137
Name: status, dtype: int64

In [8]:
df_pre_facts[df_pre_facts["in_lien_fd"]!=0].shape

(137, 3)