# Validation of days_till_maturity

In [28]:
import sqlalchemy
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [172]:
run_date=datetime(2021,9,13)
run_date_plus_one_month=run_date+relativedelta(days=30)
run_date_plus_one_month

datetime.datetime(2021, 10, 13, 0, 0)

In [173]:
# Read fc_account_master
engine=sqlalchemy.create_engine("mysql+pymysql://sony:Extenso@123@10.13.189.55/dax_raw")
df_account_master=pd.read_sql('fc_account_master',con=engine)

,id,org_id,account_number,customer_code,employer_name,account_name,mobile_number,description,branch,product,product_category,acc_open_date,acc_closed_date,employer_employee_flag,active_flag,comment,created_by,created_on,modified_by,modified_on
0,1,None,7cc8246abc6f8394f765b9ea51b3ab2fb3b1cd9d,5e93df108d36e905f3fbac34e8847aa75a22c535,None,YOGENDRA PRASAD CHAULAGAIN,9842078196,None,007,SB014,SBA,2008-06-22,NaT,None,1,None,SPAUDEL,2021-07-01 11:31:38,None,NaT
1,2,None,b37fec3f5493b2c5bee43bee17e22bab3644e010,01b075962aa289e5df8b0d678aa1e356dd3b9486,None,CHANDRA BAHADUR THAPA,9851133458,None,001,SB014,SBA,2005-02-02,NaT,None,1,None,SPAUDEL,2021-07-01 11:31:38,None,NaT
2,3,None,1676918b3186d0e09649892af91749c0663f3ec7,4ef79b280a261289720c423d3dd246350905e664,None,ARJUN PRASAD BHATTA,9846278757,None,004,SB014,SBA,2008-09-01,NaT,None,1,None,SPAUDEL,2021-07-01 11:31:38,None,NaT
3,4,None,dcc2eed075af84f2f818bb83933edec11e113e52,f48088697ce963115ca1e1e0c4dfd66acbf427a3,None,BINA DEVI DONABARINI,9810575208,None,007,SB014,SBA,2007-01-28,NaT,None,1,None,SPAUDEL,2021-07-01 11:31:38,None,NaT
4,5,None,44b868362d8cdb07c772e4a685904c688b29debf,2f8412b9360870016b3e5fc748a5a2814a710103,None,SHANTA DEVI ADHIKARI,9845555208,None,003,SB014,SBA,2006-09-15,NaT,None,1,None,SPAUDEL,2021-07-01 11:31:38,None,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
664511,932706,None,a25fa8600edd9f0130ecb27c0535e1e59240d4c2,ce33c3ff476610439267ecc88eadfbb86f8a8a2d,None,BIDUR RAYAMAJHI,9864015906,None,053,SB005,SBA,2021-04-06,NaT,None,1,None,SPAUDEL,2021-07-01 14:37:49,None,NaT
664512,932707,None,1ec3a201cb7b3367067d607a62520d93b00ea7f8,6aa99e38e773ff370472d7d5d0ae98d82fbd1d35,None,BHARATI BK,None,None,070,SB022,SBA,2021-04-01,NaT,None,1,None,SPAUDEL,2021-07-01 14:37:49,None,NaT
664513,932708,None,fbd897258c1f05fa72141108e839732a5d42d5ed,64198509f70cf191fea1cf4713a030c5f3da4239,None,PREM SINGH SUNAR,9824526349,None,174,SB021,SBA,2021-04-06,NaT,None,1,None,SPAUDEL,2021-07-01 14:37:49,None,NaT
664514,932709,None,a2e76efaf5c8cbfabe0b3b10ac1e42d3e85683a7,4be003b1c14547fd4581b361e268826b30e86332,None,SAKILA KHA,9814566157,None,157,SB005,SBA,2021-03-03,NaT,None,1,None,SPAUDEL,2021-07-01 14:37:49,None,NaT
664515,932710,None,700dbe0978192aef2fa9f87477fcb3f26f2e0923,caeb68db13c651dffd9b741e64881d1a8d7b8ebe,None,KHADGA KUMARI KOIRALA,9814750188,None,077,SB014,SBA,2021-03-09,NaT,None,1,None,SPAUDEL,2021-07-01 14:37:49,None,NaT

In [174]:
# Get selected accounts from account master
df_account_master=df_account_master[df_account_master["active_flag"]==1]

In [162]:
# Read fc_fd_master
engine=sqlalchemy.create_engine("mysql+pymysql://sony:Extenso@123@10.13.189.55/dax_raw")
df_fd_master=pd.read_sql('fc_fd_master',con=engine)
df_fd_master

,id,customer_code,account_number,branch,product,product_category,acc_open_date,maturity_date,fd_amount,is_active,is_in_lien,loan_against_fd_amount,loan_account_number,fd_nominee_acc,created_by,created_on,modified_by,modified_on
0,1,a2d8e25b702520c1307ec520722f9c6eee2d0b42,98af0c2b3a3c1126f9a758694b82150324ce6150,001,TDA,TD011,2018-03-04,2023-05-25,150000000.0,1,0,None,None,b5c6f6db820b75826cf6f9c51599cc4c6077a713,SSHRESTHA,2021-07-01 10:34:00,None,NaT
1,2,b57b66e644af2df8a122f49294d3c3c2f162acc2,f5c179cde7275d65707e59f7ff34a0d5466a9e14,001,TDA,TD011,2017-12-31,2023-03-23,100000000.0,1,0,None,None,223164b1b8ee9b6b7560286436de121cbdd18a03,SSHRESTHA,2021-07-01 10:34:00,None,NaT
2,3,eaf2bfc1339a458c6241a616e9b361938a239830,89a1d68318e878035eefcfc78348021f3c30daca,001,TDA,TD022,2006-07-06,2007-07-06,13950.0,0,0,None,None,b14fe9c6f9718bb0c2c0ef77d7c140c822f4e0aa,SSHRESTHA,2021-07-01 10:34:00,None,NaT
3,4,b1c724b065dc6e0d0b2e4296f96dbb36e210f52f,78cb03d5d0721551f81dee7525717dc5ec015d5d,001,TDA,TD022,2015-07-30,2016-07-30,13950.0,0,0,None,None,eee4ecffca8b243c7a943ac92870a3591600f5d4,SSHRESTHA,2021-07-01 10:34:00,None,NaT
4,5,6c4f2e36ac4b8c9b49173fd4da4292d6e845cb6e,988222fe658ed35c419846f02c7328cb619076b4,001,TDA,TD022,2006-08-01,2007-08-01,30000.0,0,0,None,None,1e36f08e77cb70fce98b5eaefbc159148f657c95,SSHRESTHA,2021-07-01 10:34:00,None,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25593,25594,c6bd7439bd51523dc8c3123d896a7697d6bd1717,e9495b8caf50761c5456805f8c22aecb3b510962,194,TDA,TD001,2021-02-04,2022-02-04,1300000.0,1,0,None,None,a669392ecfe6cbb8c87e9dea48d79db0829d4a87,SSHRESTHA,2021-07-01 10:41:14,None,NaT
25594,25595,897f55c21409fdb035f073bb86f0820c7df672df,f62b690753362cc05fc72779f3728530053722f4,194,TDA,TD001,2021-02-15,2022-02-15,200000.0,1,0,None,None,bb74d90c844399f231406442460e49ac98c95160,SSHRESTHA,2021-07-01 10:41:14,None,NaT
25595,25596,126aa7e28d00dfe51ae9e75492442bd303c5a2fa,a986dffa9cefd7d8e0e941f9968c187525c2bf7e,194,TDA,TD001,2021-03-22,2021-06-22,800000.0,1,0,None,None,906051438402dec46190cf33d8b7c3b805cbd20b,SSHRESTHA,2021-07-01 10:41:14,None,NaT
25596,25597,83c870be090e0d44d668849a474cd0ecbe2485dc,8241ff99707a60ce42420728ddf2fac129f88151,195,TDA,TD001,2021-04-06,2021-08-06,3000000.0,1,0,None,None,fb604ac535734eef2364dd7691fe5c4a2154e257,SSHRESTHA,2021-07-01 10:41:14,None,NaT
25597,25598,ba609799c645294c2ec86b0d9aeeaf7d83af13e7,2d781aa5ca3061eb9d068973da7abdd1e92bd2bb,195,TDA,TD001,2021-04-04,2021-08-04,1600000.0,1,0,None,None,3e20f80c21d46251eed63a4d51e82a549d981aac,SSHRESTHA,2021-07-01 10:41:14,None,NaT

In [163]:
# Read dax_facts
engine=sqlalchemy.create_engine("mysql+pymysql://sony:Extenso@123@10.13.189.55/dax_facts")
df_pre_facts=pd.read_sql('fc_pre_facts',con=engine)
df_pre_facts

,id,account_number,customer_code,recency,continuity_from_recency,latest_continuous_months,last_n_months_presence_count,total_present_months,total_observation_months,has_loan,...,in_lien_fd,has_all_in_lien_fd,nominee_acc_in_dep_master,nominee_acc_dep_master_wo_in_lien_fd,days_till_maturity,cc_status,created_by,created_on,modified_by,modified_on
0,1,00009d049f8fae9a942ca0063f4257182af54c89,81c6b520b113ee336d40222b6ec6b83e33b7006d,2,5,0,5,5,6,1,...,0,0,0,0,NaN,0,ATEK,2021-09-13 14:47:39,None,NaT
1,2,00018eaa26ee0c3836b3c1d080627a3a2b3e45f5,67dda436c42cb70ddf46699136b352e0b93147f1,3,0,0,3,3,6,0,...,0,0,0,0,NaN,0,ATEK,2021-09-13 14:47:39,None,NaT
2,3,00045b681e613bb66ce53c2517976a256fec9292,b2218e8c04bac9c2e7d01c5babe268f654f7744f,5,0,0,2,2,6,0,...,0,0,0,0,NaN,0,ATEK,2021-09-13 14:47:39,None,NaT
3,4,0000bb835aa73658f51e6ab82cf398b019ac1e42,6f5ee2f91511a60aa179289ff9a7df209ccc533d,4,0,0,1,1,4,0,...,0,0,0,0,NaN,0,ATEK,2021-09-13 14:47:39,None,NaT
4,5,00016b54c6bd7328b2899c137158ff0aab0099e4,7d63c1f3b36525ab78bcf5dcc158b6934348643d,2,3,0,4,4,6,0,...,0,0,0,0,NaN,0,ATEK,2021-09-13 14:47:39,None,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39572,39573,ff50e8465e174287c2271ea094094fad0782f9ad,d84becbb8c5d47b8da2c006082829b5766abd811,0,0,0,0,0,0,0,...,0,0,1,1,158.0,0,ATEK,2021-09-13 14:48:29,None,NaT
39573,39574,ff57ba0c53ebcdd4b5b4d92415b68e216408543c,5018f296c5326f7afa46354e5b329a68072ccc64,0,0,0,0,0,0,0,...,0,0,1,1,126.0,0,ATEK,2021-09-13 14:48:29,None,NaT
39574,39575,ff82b900fd6e89100b136c8080baec1ae8880206,f5fe39a0839aae4ae261fc91eac5db07835d1a7a,0,0,0,0,0,0,0,...,0,0,1,1,130.0,0,ATEK,2021-09-13 14:48:29,None,NaT
39575,39576,ffb508739e7e0648c80a25ce4393d71affc7eb87,e418b7f96d0611cc4f01440a42c044158dedaae2,0,0,0,0,0,0,0,...,0,0,1,1,135.0,0,ATEK,2021-09-13 14:48:29,None,NaT
39576,39577,fff416ebf5354203d89463096c83a2a1ee0e4e4a,778c043b0b99a9c70b8730c287e126bec5aab570,0,0,0,0,0,0,0,...,0,0,1,1,434.0,0,ATEK,2021-09-13 14:48:29,None,NaT

In [182]:
# Get selected accounts from df_fd_master
df_fd_master["is_in_lien"]=df_fd_master["is_in_lien"].astype(int)
df_fd_master_selected=df_fd_master[(df_fd_master["is_active"]==1)&(df_fd_master["maturity_date"]>run_date) &(df_fd_master["is_in_lien"]==0)]
df_fd_master_selected=pd.merge(df_fd_master_selected,df_account_master,left_on="fd_nominee_acc",right_on="account_number",indicator=True,suffixes=('','_'))
df_fd_master_selected=df_fd_master_selected[df_fd_master_selected["_merge"]=='both']
df_fd_master_selected

,id,customer_code,account_number,branch,product,product_category,acc_open_date,maturity_date,fd_amount,is_active,...,acc_open_date_,acc_closed_date,employer_employee_flag,active_flag,comment,created_by_,created_on_,modified_by_,modified_on_,_merge
0,6,033722e73d218760423dc5363384773764e7be8b,e6bab73a0cc032a96b9555110a0ede6a39e6443a,001,TDA,TD022,2011-01-06,2022-01-07,15000.0,1,...,2010-03-10,NaT,None,1,None,SPAUDEL,2021-07-01 11:35:16,None,NaT,both
1,1235,033722e73d218760423dc5363384773764e7be8b,bf204e04cecde681e3a89598f751a9e38f11ed48,001,TDA,TD001,2021-03-31,2021-10-01,400000.0,1,...,2010-03-10,NaT,None,1,None,SPAUDEL,2021-07-01 11:35:16,None,NaT,both
2,8,e601d05bd8d0dd2d23d30087bb10c7f61b4eb40e,892cfb4a4be685c8eae3f6213496b9071087d854,001,TDA,TD022,2001-10-08,2021-10-08,15000.0,1,...,2001-09-19,NaT,None,1,None,SPAUDEL,2021-07-01 11:32:12,None,NaT,both
3,13,043a274c27df6867e4094abb24d4a50ed15c2500,c6b962e40d47189b0bd51e6871e62269a3a1e520,001,TDA,TD022,2012-03-01,2022-03-01,15000.0,1,...,2009-12-27,NaT,None,1,None,SPAUDEL,2021-07-01 11:32:35,None,NaT,both
4,686,043a274c27df6867e4094abb24d4a50ed15c2500,7162aba49cc2e757aa2338235a1749e7cbd24481,001,TDA,TD006,2020-10-14,2021-11-14,1000000.0,1,...,2009-12-27,NaT,None,1,None,SPAUDEL,2021-07-01 11:32:35,None,NaT,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10117,25590,8c74ba14945458068f2d9d6dc9b5613dcdc244b5,fa47a0adf0b1a7dcdea35f09a30aa8746289ab72,194,TDA,TD001,2021-02-19,2022-02-19,2550000.0,1,...,2010-01-14,NaT,None,1,None,SPAUDEL,2021-07-01 11:35:19,None,NaT,both
10118,25591,c4af208278d915482e458745ef9be73f4d0c7c01,e6f574f48b6a34345c085a4d85633b7c98dd27e6,194,TDA,TD001,2021-02-19,2022-02-19,1000000.0,1,...,2019-02-13,NaT,None,1,None,SPAUDEL,2021-07-01 13:29:34,None,NaT,both
10119,25593,a00a1ec70b5909611923ffc51b4a03c9df4f853f,9f2db4198d2b892f18dfe3d0274cb91e0b8e92b9,194,TDA,TD001,2021-03-24,2022-03-24,500000.0,1,...,2007-05-04,NaT,None,1,None,SPAUDEL,2021-07-01 11:33:38,None,NaT,both
10120,25594,c6bd7439bd51523dc8c3123d896a7697d6bd1717,e9495b8caf50761c5456805f8c22aecb3b510962,194,TDA,TD001,2021-02-04,2022-02-04,1300000.0,1,...,2009-10-12,NaT,None,1,None,SPAUDEL,2021-07-01 11:31:58,None,NaT,both
10121,25595,897f55c21409fdb035f073bb86f0820c7df672df,f62b690753362cc05fc72779f3728530053722f4,194,TDA,TD001,2021-02-15,2022-02-15,200000.0,1,...,2012-08-15,NaT,None,1,None,SPAUDEL,2021-07-01 11:40:22,None,NaT,both

In [183]:
# Categorize records with maturity_days>=30 days and maturity_days<30 days
df_fd_master_gte_30=df_fd_master_selected[df_fd_master_selected["maturity_date"]>=run_date_plus_one_month]
df_fd_master_lt_30=df_fd_master_selected[df_fd_master_selected["maturity_date"]<run_date_plus_one_month]

,id,customer_code,account_number,branch,product,product_category,acc_open_date,maturity_date,fd_amount,is_active,...,acc_open_date_,acc_closed_date,employer_employee_flag,active_flag,comment,created_by_,created_on_,modified_by_,modified_on_,_merge
0,6,033722e73d218760423dc5363384773764e7be8b,e6bab73a0cc032a96b9555110a0ede6a39e6443a,001,TDA,TD022,2011-01-06,2022-01-07,15000.0,1,...,2010-03-10,NaT,None,1,None,SPAUDEL,2021-07-01 11:35:16,None,NaT,both
3,13,043a274c27df6867e4094abb24d4a50ed15c2500,c6b962e40d47189b0bd51e6871e62269a3a1e520,001,TDA,TD022,2012-03-01,2022-03-01,15000.0,1,...,2009-12-27,NaT,None,1,None,SPAUDEL,2021-07-01 11:32:35,None,NaT,both
4,686,043a274c27df6867e4094abb24d4a50ed15c2500,7162aba49cc2e757aa2338235a1749e7cbd24481,001,TDA,TD006,2020-10-14,2021-11-14,1000000.0,1,...,2009-12-27,NaT,None,1,None,SPAUDEL,2021-07-01 11:32:35,None,NaT,both
6,16,73632117298569bbaa78fc8f597bb1288e97875b,53254f6eb3bed01c1cdc698df314d4c94201733c,001,TDA,TD022,2017-11-15,2022-11-15,9950.0,1,...,2010-06-30,NaT,None,1,None,SPAUDEL,2021-07-01 11:34:46,None,NaT,both
7,17,e15ce6547bf5c748c6054a81ac8789a6ea2a2007,6f730f4910119fc873dc7ce5a10badf204dc15e8,001,TDA,TD022,2005-10-28,2021-10-28,25500.0,1,...,2010-05-17,NaT,None,1,None,SPAUDEL,2021-07-01 11:35:03,None,NaT,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10117,25590,8c74ba14945458068f2d9d6dc9b5613dcdc244b5,fa47a0adf0b1a7dcdea35f09a30aa8746289ab72,194,TDA,TD001,2021-02-19,2022-02-19,2550000.0,1,...,2010-01-14,NaT,None,1,None,SPAUDEL,2021-07-01 11:35:19,None,NaT,both
10118,25591,c4af208278d915482e458745ef9be73f4d0c7c01,e6f574f48b6a34345c085a4d85633b7c98dd27e6,194,TDA,TD001,2021-02-19,2022-02-19,1000000.0,1,...,2019-02-13,NaT,None,1,None,SPAUDEL,2021-07-01 13:29:34,None,NaT,both
10119,25593,a00a1ec70b5909611923ffc51b4a03c9df4f853f,9f2db4198d2b892f18dfe3d0274cb91e0b8e92b9,194,TDA,TD001,2021-03-24,2022-03-24,500000.0,1,...,2007-05-04,NaT,None,1,None,SPAUDEL,2021-07-01 11:33:38,None,NaT,both
10120,25594,c6bd7439bd51523dc8c3123d896a7697d6bd1717,e9495b8caf50761c5456805f8c22aecb3b510962,194,TDA,TD001,2021-02-04,2022-02-04,1300000.0,1,...,2009-10-12,NaT,None,1,None,SPAUDEL,2021-07-01 11:31:58,None,NaT,both
10121,25595,897f55c21409fdb035f073bb86f0820c7df672df,f62b690753362cc05fc72779f3728530053722f4,194,TDA,TD001,2021-02-15,2022-02-15,200000.0,1,...,2012-08-15,NaT,None,1,None,SPAUDEL,2021-07-01 11:40:22,None,NaT,both

In [184]:
# sort records
df_fd_master_gte_30=df_fd_master_gte_30.sort_values(by=["customer_code","maturity_date"],ascending=False)
df_fd_master_lt_30=df_fd_master_lt_30.sort_values(by=["customer_code","maturity_date"],ascending=False)

In [185]:
# aggregrate and get first value
df_fd_master_gte_30=df_fd_master_gte_30.groupby(["customer_code"]).agg(
        maturity_date=("maturity_date","first")
)
df_fd_master_lt_30=df_fd_master_lt_30.groupby(["customer_code"]).agg(
        maturity_date=("maturity_date","first")
)
df_fd_master_gte_30.reset_index(inplace=True)
df_fd_master_lt_30.reset_index(inplace=True)

In [187]:
# full outer join
df_gte_lt_merged=pd.merge(df_fd_master_gte_30,df_fd_master_lt_30,how="outer",on="customer_code")
df_gte_lt_merged["maturity_date"]=np.select(
    [
        df_gte_lt_merged["maturity_date_x"].notna()
    ],
    [
        df_gte_lt_merged["maturity_date_x"]
    ],
    default= df_gte_lt_merged["maturity_date_y"]
)
df_gte_lt_merged["days_till_maturity"]=(df_gte_lt_merged["maturity_date"]-run_date).dt.days
df_gte_lt_merged

,customer_code,maturity_date_x,maturity_date_y,maturity_date,days_till_maturity
0,0003da8d5a1a39201cbe97f8eb77049e104ed647,2021-12-04,NaT,2021-12-04,82
1,0004826f6afb29aacc7e5e6a67d0a3b857a64058,2021-12-08,NaT,2021-12-08,86
2,001b99791028b7226b11b7186b135649430699f7,2021-11-28,NaT,2021-11-28,76
3,001e72eb9f09076ecba9c749eccb13b41fdfeb36,2022-03-05,NaT,2022-03-05,173
4,00239e21aa2d4ecb6fdbb116d0d713a70a6ccfc5,2022-08-13,NaT,2022-08-13,334
...,...,...,...,...,...
8772,fe3f0729f6bf754949331906bbfc52f7a9215d06,NaT,2021-09-17,2021-09-17,4
8773,fe6a3be90585f2987ada12e2909090fc8e55ec67,NaT,2021-10-07,2021-10-07,24
8774,ff1488fc8fd3ca3b6bcfa43c1d20e34d9544a842,NaT,2021-09-15,2021-09-15,2
8775,ffd9aa02fe81f38487a17a694e842d4b1fa367a6,NaT,2021-10-01,2021-10-01,18
8776,ffebb08b53d8718f633c5ff582bb771dda466cd8,NaT,2021-09-15,2021-09-15,2

In [188]:
# qa vs dev
df_qa_vs_dev=pd.merge(df_gte_lt_merged,df_pre_facts,how="inner",on="customer_code",suffixes=('_qa','_dev'))

df_qa_vs_dev=df_qa_vs_dev[["customer_code","days_till_maturity_qa","days_till_maturity_dev"]]

df_qa_vs_dev['status'] = np.select(
    [
        df_qa_vs_dev["days_till_maturity_qa"]==df_qa_vs_dev["days_till_maturity_dev"]
    ], 
    [
        'Pass'
    ], 
    default='Fail'
)

# Count of Distinct status
df_qa_vs_dev.value_counts("status")

status
Pass    8951
dtype: int64

In [193]:
df_pre_facts[(df_pre_facts["days_till_maturity"]!=0)&(df_pre_facts["days_till_maturity"].notna())].shape

(8951, 27)