# Validation of cc_status

In [3]:
import sqlalchemy
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil.relativedelta import *

In [4]:
end_date=datetime(2021,6,30)
end_date_sub_12_month=end_date-relativedelta(months=12)
end_date_sub_12_month

datetime.datetime(2020, 6, 30, 0, 0)

In [232]:
# Read cc_due_report
engine=sqlalchemy.create_engine("mysql+pymysql://sony:Extenso@123@10.13.189.55/dax_raw")
df_cc_due_report=pd.read_sql('cc_due_report',con=engine,parse_dates=["bill_report_date"])
df_cc_due_report=df_cc_due_report[df_cc_due_report["bill_report_date"]>=end_date_sub_12_month]
df_cc_due_report["embossed_name"]=df_cc_due_report["embossed_name"].str.strip()
df_cc_due_report["mobile_number"]=df_cc_due_report["mobile_number"].str.strip()
df_cc_due_report

,id,bill_report_date,auto_debit_account,customer_code,last_payment_date,embossed_name,product_type,mobile_number,email_id,unpaid_status,...,fees,payment_after_billing,interest,credit_limit,overlimit_amount,mailing_address,created_by,created_on,modified_by,modified_on
0,1,2021-01-23,d2b8528361248d99542127f9fe2cace96dd8e90e,31f2178749d24a4b29f6d34d82665ddee18d2ba7,2021-01-12,YOUBRAJ SHAHI,None,9843386940,0,0,...,1000.0,0.0,193.85,50000.0,0.0,None,SPAUDEL,2021-07-01 11:02:05,None,NaT
1,2,2021-01-23,64fcc7fd5236f8ad5c14249336691a49c097d9e5,a50599295e69531f0ad801670827fa09ef68f5bd,2021-01-12,YUGAL KISHOR CHAUDHARY,None,9852834598,0,0,...,200.0,0.0,2166.54,75000.0,0.0,None,SPAUDEL,2021-07-01 11:02:05,None,NaT
2,3,2021-01-23,cfcdeb5062f394b85512ecf1e2bb9fddde167724,16c04d6d2d63a6f9d107ace50fc7f15e6adb4f04,2021-01-10,YUGESH PANCHA,None,9851209445,0,0,...,160.0,0.0,169.55,35000.0,0.0,None,SPAUDEL,2021-07-01 11:02:05,None,NaT
3,4,2021-01-23,f5a91e4b7013dc167e0ac1f26ec697aeb8b7fbd7,fc57ffcc843947e5df343f0391ce0629b5727e03,2020-07-24,YUBARAJ LAMA THING,None,9851023901,0,0,...,2000.0,0.0,42.40,100000.0,0.0,None,SPAUDEL,2021-07-01 11:02:05,None,NaT
4,5,2021-01-23,1d1784253aa61bfa59a37b8342510d6eb8573676,cc51fbb834b4c45c15b154ca095ec5f1dd36d5e3,2021-01-12,YUSUF SHRESTHA,None,9851121195,0,0,...,8550.0,0.0,86.75,75000.0,0.0,None,SPAUDEL,2021-07-01 11:02:05,None,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29762,29763,2020-12-23,a176646f6fcb06fbdc61b7e59373ccc6af64dfee,b1cab2e50f003713c6cc9460849b80a2ce22ea41,2020-10-12,ANISH TAMRAKAR,None,9851003645,0,0,...,550.0,0.0,136.33,220000.0,0.0,None,SPAUDEL,2021-07-01 11:04:15,None,NaT
29763,29764,2020-12-23,dc42d3aa87623530f78ebb66416a769d4b9f5815,c6a24bd1af93afb9bb4f189793a8dd268d6e17ed,NaT,ANIL BAHADUR BOHARA,None,9865626943,0,0,...,1750.0,0.0,0.00,50000.0,0.0,None,SPAUDEL,2021-07-01 11:04:15,None,NaT
29764,29765,2020-12-23,None,699daeb9bc8bf2a6f7b096080ebac80e0c82b339,2020-09-07,AMIT JUNG PARAKRAM SINGH,None,9851020920,0,0,...,4100.0,0.0,17.43,45000.0,0.0,None,SPAUDEL,2021-07-01 11:04:15,None,NaT
29765,29766,2020-12-23,f89889f5fe3e26c02fec096c5a2942117712b255,332e1e366f1314f660d25c15d5e77ab81653e8ac,2020-12-13,AJIT RAI,None,9808468352,0,0,...,200.0,0.0,44.07,50000.0,0.0,None,SPAUDEL,2021-07-01 11:04:15,None,NaT
29766,29767,2020-12-23,None,fd01138b8715246822c52086d5e9326f66fb6a12,2019-08-08,ABHAY RANA,None,9851164380,0,0,...,2700.0,0.0,2299.57,90000.0,0.0,None,SPAUDEL,2021-07-01 11:04:15,None,NaT

In [203]:
# Read fc_account_master
engine=sqlalchemy.create_engine("mysql+pymysql://sony:Extenso@123@10.13.189.55/dax_raw")
df_account_master=pd.read_sql('fc_account_master',con=engine)

In [233]:
# Read fc_pre_facts
engine=sqlalchemy.create_engine("mysql+pymysql://sony:Extenso@123@10.13.189.55/dax_facts")
df_pre_facts=pd.read_sql('fc_pre_facts',con=engine)
df_pre_facts=df_pre_facts[["account_number","customer_code","cc_status"]]

In [234]:
merge_by_acc_num=pd.merge(df_account_master,df_cc_due_report,left_on="account_number",right_on="auto_debit_account",how="inner",suffixes=('','_'))
merge_by_acc_num=merge_by_acc_num[["account_number","customer_code","unpaid_status"]]

In [235]:
merge_by_name_mob=pd.merge(df_account_master,df_cc_due_report,left_on=["account_name","mobile_number"],right_on=["embossed_name","mobile_number"],how="inner",suffixes=('','_'))
merge_by_name_mob=merge_by_name_mob[["account_number","customer_code","unpaid_status"]]
merge_by_name_mob

,account_number,customer_code,unpaid_status
0,18e2b7c7f9bdfe58bfd428107e59f6cf871c5ecc,8abf19f25f9084659e51d2337ab1642a40a6b2a9,0
1,18e2b7c7f9bdfe58bfd428107e59f6cf871c5ecc,8abf19f25f9084659e51d2337ab1642a40a6b2a9,0
2,18e2b7c7f9bdfe58bfd428107e59f6cf871c5ecc,8abf19f25f9084659e51d2337ab1642a40a6b2a9,0
3,18e2b7c7f9bdfe58bfd428107e59f6cf871c5ecc,8abf19f25f9084659e51d2337ab1642a40a6b2a9,0
4,18e2b7c7f9bdfe58bfd428107e59f6cf871c5ecc,8abf19f25f9084659e51d2337ab1642a40a6b2a9,0
...,...,...,...
23789,6dba71108e141033de2baee2b18e10e4475d9ce0,b1063f05b2d5d98ebfe96ac75faac4bc56086b5f,0
23790,6dba71108e141033de2baee2b18e10e4475d9ce0,b1063f05b2d5d98ebfe96ac75faac4bc56086b5f,0
23791,6dba71108e141033de2baee2b18e10e4475d9ce0,b1063f05b2d5d98ebfe96ac75faac4bc56086b5f,0
23792,6dba71108e141033de2baee2b18e10e4475d9ce0,b1063f05b2d5d98ebfe96ac75faac4bc56086b5f,0
23793,6dba71108e141033de2baee2b18e10e4475d9ce0,b1063f05b2d5d98ebfe96ac75faac4bc56086b5f,0

In [236]:
union=pd.concat([merge_by_acc_num,merge_by_name_mob])
union=union.groupby(["account_number"]).agg(
    cc_status=("unpaid_status","max")
)
union.reset_index(inplace=True)
union

                                account_number  cc_status
0     00009d049f8fae9a942ca0063f4257182af54c89          0
1     0022925e9d91ba5e46a26c49781e55b7b84bdbd0          0
2     003b61ab2471537d79866445c595f1728881f9bc          0
3     005160dc1657306563a994b98097727ff1417155          3
4     005b7ae3348d4e11cc69aa8be2afd0eef8c67bbf          0
...                                        ...        ...
2972  ff809397ea26f4a9ed9a927126e80c3926d82e4a          0
2973  ff879a7323968ade70b97979db0cbd95de023598          2
2974  ff8d3d426fa7bd6076326dba65052f654d28f2c7          0
2975  ffc0411d6853aace0dd379e03ef8b93345906da2          0
2976  ffe8085f367626525599a796eb9079114c98708b          0

[2977 rows x 2 columns]

In [242]:
# qa vs dev
df_qa_vs_dev=pd.merge(union,df_pre_facts,how="inner",on="account_number",suffixes=('_qa','_dev'))

df_qa_vs_dev=df_qa_vs_dev[["account_number","cc_status_qa","cc_status_dev"]]

df_qa_vs_dev['status'] = np.select(
    [
        df_qa_vs_dev["cc_status_qa"]==df_qa_vs_dev["cc_status_dev"]
    ], 
    [
        'Pass'
    ], 
    default='Fail'
)

# Count of Distinct status
df_qa_vs_dev.value_counts("status")

status
Pass    1103
dtype: int64

In [244]:
df_qa_vs_dev[df_qa_vs_dev["cc_status_qa"]!=0].shape

(158, 4)

In [241]:
df_pre_facts[df_pre_facts["cc_status"]!=0].shape

(158, 3)