# Validation of has_bad_loan

In [3]:
import sqlalchemy
import pandas as pd
import numpy as np
from datetime import datetime

In [4]:
bad_loan_provision=[2,3,4,5]

In [5]:
# Read loan_master
engine=sqlalchemy.create_engine("mysql+pymysql://sony:Extenso@123@10.13.189.55/dax_raw")
df_loan_master=pd.read_sql('fc_loan_facts',con=engine)
df_loan_master

,id,customer_code,account_number,provision_type,is_active,is_bad,payment_completed_count,penalty_count,total_loan_amount,outstanding_loan_amount,paid_loan_amount,principal_overdue,interest_overdue,acc_open_date,maturity_date,overdue_days,created_by,created_on,modified_by,modified_on
0,1,ef9645272f09db5e25f1c4fea61c9235fb7a4aa0,71ee063417494a5e5221fc39ab86203cbbcea801,0,0,None,NaN,NaN,0.0,1054.48,0.0,1054.48,NaN,2009-02-12,2012-03-20,0,SPAUDEL,2021-08-17 12:02:04,SSHRESTHA,NaT
1,2,0a76f6dbd164837f3f1f47ab2f87ebfb78553ec9,13620de3d6681aa7aa58ebe6f7cf057d676ee704,0,0,None,NaN,NaN,0.0,1033.91,0.0,1033.91,NaN,2008-01-06,2010-07-16,0,SPAUDEL,2021-08-17 12:02:04,SSHRESTHA,NaT
2,3,ec059473a0c139488a7c20a25decf2c76740b867,20165260d277d4965de5b628beba26db4cf83f27,0,0,None,NaN,NaN,0.0,500.00,0.0,500.00,NaN,2007-06-20,2012-02-05,0,SPAUDEL,2021-08-17 12:02:04,SSHRESTHA,NaT
3,4,9598a050b55fae21c9875f56f06232ac45ba7cc2,5405fc3baf3c138f58b42696f3c51edd137b16b9,0,0,None,NaN,NaN,0.0,242.59,0.0,242.59,NaN,2009-03-18,2014-02-05,0,SPAUDEL,2021-08-17 12:02:04,SSHRESTHA,NaT
4,5,872a9561e721e5f6047ffc2f17424c19764374fc,c62001669d1c5798a1df67705c6b319154ad1aea,0,0,None,NaN,NaN,0.0,18418.02,0.0,18418.02,NaN,2013-08-15,2013-10-07,0,SPAUDEL,2021-08-17 12:02:04,SSHRESTHA,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38172,38173,28316abb9d581c336dfcdaca3da87e1675ec8832,5582671a5ca16de40da4cb0250c4824016b8f4ed,0,1,None,0.0,0.0,2000000.0,-2000000.00,NaN,NaN,NaN,2021-04-04,2021-08-01,0,SPAUDEL,2021-08-17 12:02:04,SSHRESTHA,NaT
38173,38174,e5792b67d395feb9646a01a98273fb776d1d32cd,2bab8a5a8545de3c8134cdea63e620aa9288a109,0,1,None,0.0,0.0,4950000.0,-4950000.00,NaN,NaN,NaN,2021-04-04,2036-04-12,0,SPAUDEL,2021-08-17 12:02:04,SSHRESTHA,NaT
38174,38175,75720a7b1f9d2118ee1c39d8ca014873a1312838,4145ddc54c2e5fde8bc997b0c7e6cb7388141c89,0,1,None,0.0,0.0,3900000.0,-3900000.00,NaN,NaN,NaN,2021-04-06,2036-04-12,0,SPAUDEL,2021-08-17 12:02:04,SSHRESTHA,NaT
38175,38176,f6eca58886d75b8c61c9356da1d50e6c8b0893c0,41d41d7d7f6c4c2c608764fc0e98045c38fe6540,0,1,None,0.0,0.0,450000.0,-450000.00,NaN,NaN,NaN,2021-04-06,2028-04-12,0,SPAUDEL,2021-08-17 12:02:04,SSHRESTHA,NaT
38176,38177,67585b546a2b4638c78d54590d1265aaf0436310,13fd8ac13b3335ddec336f949e291346c5429382,0,1,None,0.0,0.0,1500000.0,-1500000.00,NaN,NaN,NaN,2021-04-06,2026-04-12,0,SPAUDEL,2021-08-17 12:02:04,SSHRESTHA,NaT

In [6]:
# Read fc_pre_facts
engine=sqlalchemy.create_engine("mysql+pymysql://sony:Extenso@123@10.13.189.55/dax_facts")
df_pre_facts=pd.read_sql('fc_pre_facts',con=engine)
df_pre_facts=df_pre_facts[["account_number","customer_code","has_bad_loan"]]
df_pre_facts

,account_number,customer_code,has_bad_loan
0,0000bb835aa73658f51e6ab82cf398b019ac1e42,6f5ee2f91511a60aa179289ff9a7df209ccc533d,0
1,00009d049f8fae9a942ca0063f4257182af54c89,81c6b520b113ee336d40222b6ec6b83e33b7006d,0
2,00045b681e613bb66ce53c2517976a256fec9292,b2218e8c04bac9c2e7d01c5babe268f654f7744f,0
3,000de06ac50d49c6ae28e75dee400b529bccca3c,03716516d55cb7f3e2f0deffaa0c8c5c9e91b355,0
4,00018eaa26ee0c3836b3c1d080627a3a2b3e45f5,67dda436c42cb70ddf46699136b352e0b93147f1,0
...,...,...,...
39667,ff809397ea26f4a9ed9a927126e80c3926d82e4a,28fff1e62259df884b9349d707927c2dfbe4206f,0
39668,ff9ba916775f7ba0d83750bdc188a2d3e6bf7929,129e189cec9ce716ccca911aebfa73dfc4df3d2c,0
39669,ff9c3e85f59dffe893186a2456854fca87f23762,39d6bd64e4560bb2c15b29c71fff94afa1aa7bb3,0
39670,ffd0c1c89bc2c1ff96ba79c44ae470a86b7a151a,0d3b82dcc37b22db1825394c75197205b77a04ee,0
39671,ffd6a2947f902201a584aa83d1c5eac0be75fe66,1141ff728aa620c25968dbf97b5d0dd25b38727f,0

In [7]:
# df_loan_master_has_loan=df_loan_master[df_loan_master["provision_type"] in bad_provision_type]
df_loan_master_bad_loan=df_loan_master[["customer_code","provision_type"]]
df_loan_master_bad_loan["is_bad"]=np.select(
    [
        df_loan_master_bad_loan["provision_type"].isin(bad_loan_provision)
    ],
    [
        1
    ],
    default=0
)
df_loan_master_bad_loan

<ipython-input-7-0c0b69c05527>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_loan_master_bad_loan["is_bad"]=np.select(

                                  customer_code  provision_type  is_bad
0      ef9645272f09db5e25f1c4fea61c9235fb7a4aa0               0       0
1      0a76f6dbd164837f3f1f47ab2f87ebfb78553ec9               0       0
2      ec059473a0c139488a7c20a25decf2c76740b867               0       0
3      9598a050b55fae21c9875f56f06232ac45ba7cc2               0       0
4      872a9561e721e5f6047ffc2f17424c19764374fc               0       0
...                                         ...             ...     ...
38172  28316abb9d581c336dfcdaca3da87e1675ec8832               0       0
38173  e5792b67d395feb9646a01a98273fb776d1d32cd               0       0
38174  75720a7b1f9d2118ee1c39d8ca014873a1312838               0       0
38175  f6eca58886d75b8c61c9356da1d50e6c8b0893c0               0       0
38176  67585b546a2b4638c78d54590d1265aaf0436310               0       0

[38177 rows x 3 columns]

In [8]:
df_loan_master_bad_loan=df_loan_master_bad_loan.groupby(["customer_code"]).agg(
    has_bad_loan=("is_bad","max")
)
df_loan_master_bad_loan.reset_index(inplace=True)
df_loan_master_bad_loan=df_loan_master_bad_loan[df_loan_master_bad_loan["has_bad_loan"]==1]

In [9]:
df_loan_master_bad_loan

                                  customer_code  has_bad_loan
24     0036e41df4f08fa6ac4dcd0663cec1322b521b3d             1
43     0055a0adac55bad118873eb48740e6cd76a491ca             1
53     0064a60e91c45c9af5ef6c1c429061e8a2c9da21             1
55     006e97aacc8ec322487f881ef1f328ef67304a0c             1
96     00e280a5fbc7766d2ff795b7e2fc92f85b3ff6d4             1
...                                         ...           ...
28785  ff96b2650fd5b013be3bf61367a7825a4822d4da             1
28796  ffb198bd99c153babbea0ac5fe84f6529ed26219             1
28798  ffb4c431f0a4a0612b969984d0d8c7fe2bcb42f9             1
28804  ffc0d7345c6a03b6df61c65bf0fe405502e10b20             1
28814  ffd172db55eaf1c7cc30fc5d890ebba034cfa26f             1

[2344 rows x 2 columns]

In [11]:
df_has_bad_loan=pd.merge(df_loan_master_bad_loan,df_pre_facts,how="inner",on="customer_code",suffixes=('_qa','_dev'))
df_has_bad_loan["status"]=np.select(
    [
        df_has_bad_loan["has_bad_loan_qa"]==df_has_bad_loan["has_bad_loan_dev"]
    ],
    [
        "pass"
    ],
    default="fail"
)
df_has_bad_loan

,customer_code,has_bad_loan_qa,account_number,has_bad_loan_dev,status
0,0febf56cd747377566988a951b9be4072373a65a,1,6b6e2d0218e9162e2711265e542cb3208d148f58,1,pass
1,1cd5a9191f430ed80e991939f6b44fe3206ec799,1,05ccb54af0e6fbe184c92b81cbc9d81a4e718b76,1,pass
2,6189ebed02bd2afe8a34224ceb7c845743bb052b,1,13c1b0b4acc7c34bfe2b6a3850ff82933319fadb,1,pass
3,62e7653aae7a509318d895441039d9b1df669d80,1,924da2355d957a414c2bdc24710664e94aad251b,1,pass
4,6f80bb1da05bd103a75c07452fd06af32e00b543,1,e2c8cd7b92836e44d9b80c114376d66eff5855e7,1,pass
5,8d5bd6882644fe4c9039bbc5ea50622e9fec8b1e,1,0288055f85b8fbbf7869c3cf5e917265c51b2601,1,pass
6,92bbeca4b77371ba4a395259efb767cf6686ee35,1,61e9323811315e5053876c9f45bbc8d1b6da3a1f,1,pass
7,9721447a796ffad66bd0019360e77472cbd6f922,1,a7a7030a14c286c368505f246cd7fe9870af03d9,1,pass
8,9aa72cc4948d6bd0de26b12347e0c9909cb51685,1,01c10a3b118389b0a98ea99602f355752ce99413,1,pass
9,d17961da2a879a821115dd3416aaf494693378a4,1,20fdbc0ef0cd32223ed47578ba1bb887948be073,1,pass

In [12]:
df_has_bad_loan["status"].value_counts()

pass    10
Name: status, dtype: int64

In [13]:
df_pre_facts[df_pre_facts["has_bad_loan"]==1].shape

(10, 3)